/* custom code */
  .arrowColor{
    color: #fff;
    font-size: 20px;
    }
  .selectBOX{
      width: 117px;
      margin-left: 13px;
   }
   .text-center{
    text-align:center;
   }
   .text-left{
    text-align: left;
   }
 
   .inputContent{
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 .textBackBox{
   background-color:#006cb4;
    border: #006cb4;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
 }
 .flexML{
  margin-left: -1px;
   display: flex;
 }
 .flexImg{
   display: flex;
   flex: 1 1 0%;
   padding-left: 16px;
 }
 .flexImg2{
  display: flex;
  flex: 1 1 0%;
}
/* Margin Css*/
 .mTop40{
    margin-top: 40px
  }
  .mR-10{
    margin-right: 10px;
  }
  .mB20{
    margin-bottom:20px;
  }
  .mL-17{
    margin-left: 17px;
  }

  /* color */
  .clrWhite{
    color: #fff; 
  }
  .clrwhiteMR5{
  color:white;
  margin-right: 5px;
}