.personlized { padding: 21px 19px 7px; color: #fff; position: absolute; background-color: #003c63; border-radius: 24px; overflow: hidden; top: -17px; left: 150px; } 
.position-relative { position: relative; } 
.overflow-hidden { overflow: hidden; }
.add-img button { padding: 7px 53px; border: 1px solid #ababab; }
.desktop, .mobile { width: 50%; padding: 11px; border: 1px solid; padding-top: 0; border-radius: 8px; }
.desktop .heading-penal, .mobile .heading-penal { margin:0px -11px; } 
.add-img { margin-top: 10px; }
.add-img button { padding: 7px 54px; border: 1px solid #ababab; margin-left: 14px; }
.btn-save{border:1px solid #006cb4;margin-right:20px;float:right;background-color:#006cb4;color:white;padding-left:10px;padding-right:10px;}
.btn-cancel{float:right;background-color:white;border:1px solid #006cb4;color:#006cb4;padding-left:10px;padding-right:10px;}
.banner-card { width: 100%; border: 1px solid; border-radius: 0px; margin-bottom: 15px; padding: 0 23px; } 
.left-side { width: 60% }.banner-card-heading { background: #006cb4; color: #fff; font-size: 14px; padding: 8px 6px 8px; border-radius: 0; margin: 0px -23px; margin-bottom: 18px; }
.right-side { width:40%;min-width: 40%;min-height:40%; right:0 ;top:42px;position: absolute;}
.card-Preview{height: 300px;border:1px solid black;padding:10px; border-radius: 5px;margin:10px;}
.left-Preview{width:29%;height:50%;float:left;background-color:black;}
.right-Preview{width:69%;height:50%;float:right;background-color:black;}
.banner-conten { width: 100%; border: 1px solid; border-radius: 8px; margin-bottom: 15px; }
.Layout1 { width: 100%; border: 1px solid; border-radius: 8px; margin-bottom: 15px; }
.Layout2 { width: 100%; border: 1px solid; border-radius: 8px; margin-bottom: 15px;margin-left: 10px;margin-right: 10px; }
.heading-penal { background: #006cb4; color: #fff; font-size: 14px; padding: 8px 6px 8px; border-radius: 6px 6px 0 0; }
.heading-penal h3 { margin:0; }
.card { margin: 14px; box-shadow: 1px 1px 10px rgba(0,0,0,0.2); padding: 7px 9px; border-radius: 6px; } 
.gjs-pn-panel-banner label { width: 69px; display: flex; align-items: flex-start; margin-bottom: 10px }
.gjs-pn-panel-banner { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.d-flex { display: flex; } 
.switch .checkbox.switcher label, .switch .radio.switcher label { padding: 0; }
.switch .checkbox.switcher label *, .switch .radio.switcher label * { vertical-align: middle; } 
.switch .checkbox.switcher label input, .switch .radio.switcher label input { display: none; }
.switch .checkbox.switcher label input + span, .switch .radio.switcher label input + span { position: relative; display: inline-block; margin-right: 10px; width: 30px; height: 16px; background: #f2f2f2; border: 1px solid #eee; border-radius: 50px; transition: all 0.3s ease-in-out; } 
.switch .checkbox.switcher label input + span small, .switch .radio.switcher label input + span small { position: absolute; display: block; width: 50%; height: 100%; background: #fff; border-radius: 50%; transition: all 0.3s ease-in-out; left: 0; }
.switch .checkbox.switcher label input:checked + span, .switch .radio.switcher label input:checked + span { background: #269bff; border-color: #269bff; }
.switch .checkbox.switcher label input:checked + span small, .switch .radio.switcher label input:checked + span small { left: 50%; }
.frame-style .slide-conten { width: 120px; text-align: left; }
.frame-style .d-flex { display: flex; margin-bottom: 13px; } 
.add-btn { justify-content: space-around; display: flex; padding:16px 8px; }
.justify-content-around { justify-content: space-around; }
.add-btn button.btn { background: #006cb4; border: none; padding: 5px 13px; display: flex; color: #fff; align-items: center; border-radius: 4px; } 
.add-btn svg { width: 16px; margin-right: 15px; }
.btn-preview-changes{padding-top:5px;border-radius:4px ; padding-bottom:5px;border: 1px solid #006cb4;margin-right: 20px;background-color: #006cb4;color: white;padding-left: 10px;padding-right: 10px;}
.btn-preview-changes:focus{outline:0;}
.btn-preview-changes:hover{box-shadow: 0 3px 10px 0 rgba(0,0,0,.25)}
.btn-preview-changes:active{transform: translateY(2px);}

.btn-device-preview{font-size:30px;margin-left:20px}
.btn-device-preview:active{transform: translateY(2px);}
.select-preview{width:50%;padding:2px;max-width: 500px;box-sizing: border-box;}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #location-table {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;}#location-table td, #location-table th {border: 1px solid #ddd;padding: 8px;}#location-table tr:nth-child(even){background-color: #f2f2f2;}#location-table tr:hover {background: #006cb4;;}#location-table th {padding-top: 12px;padding-bottom: 12px;text-align: left;background: #006cb4;color: white;}
  ul{
    list-style-type: none;
   }
   
  .CodeMirror{
    height:70px !important;
  }
